body {
    max-width: 300px;
    margin: 0.5rem auto;
}

body,
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

[type="submit"] {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

td:last-child {
    text-align: right;
}

.hidden {
    display: none;
}

.message {
    cursor: pointer;
}
